// reset all css
* {
  all: unset;
  font-family: 'Cousine Nerd Font';
}

$color-accent: #d9316e;
$color-primary: #863ad7;

/****************************************
*  Bar config
*/

// padding and opacity for three items
.workspaces,
.center,
.tray {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

// border radius (1)
.workspaces,
.center {
  border-bottom-right-radius: 10px;
}

// border radius (2)
.tray,
.center {
  border-bottom-left-radius: 10px;
}

.workspace-entry {
  margin-left: 5px;
}

// metric config (for volume)
.metric scale trough highlight {
  background-color: $color-accent;
  border-radius: 10px;
}

.metric scale trough {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.tray {
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchbox {
  padding-left: 10px;
  padding-right: 0px;
}

.power-menu {
  padding-left: 10px;
  padding-right: 10px;

  & :hover>.power-menu-icon {
    color: $color-accent;
  }
}

.power-menu-icon {
  padding-left: 10px;
  padding-right: 10px;
}

/****************************************
*  Panel config
*/

.panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.panel-datetime {
  padding-top: 40px;
  margin-bottom: 80px;
}

.panel-music, .panel-vitals {
  margin-left:  10px;
  padding-left: 10px;
  border-radius: 15px;
  margin-bottom: 80px;
}

.panel-music {
  background-color: rgb(0, 0, 0, 0.5);
}

.sz-large {
  font-size: 72px;
}

.sz-med {
  font-size: 42px;
}

.sz-smaller {
  font-size: 24px;
}

.sz-small {
  font-size: 18px;
}

.wgt-heavy {
  color: $color-primary;
  font-weight: bold;
}

.wgt-med {
  color: lighten($color-primary, 20%);
}

.wgt-light {
  color: lighten($color-primary, 40%);
}

.song_btn {
  font-size: 30px;
  font-weight: normal;
  color: $color-primary;
  margin: 4px 20px 0px 20px;
}

.song_cover {
  margin: 30px;
}

.vital {
  color: $color-accent;
  margin-bottom: 40px;
}

.vital-container {
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.5);
  margin: 10px;
}