{{- $releaseId := "0" -}}

{{- if hasKey . "browser" }}
  {{- $releaseId = mozillaInstallHash "/usr/lib/" .browser -}}
{{- else }}
  {{- $releaseId = mozillaInstallHash "/usr/lib/firefox-developer-edition" -}}
{{- end }}

[Install{{- $releaseId -}}]
Default=primary
Locked=1

[Profile0]
Name=primary
IsRelative=1
Path=primary

[General]
StartWithLastProfile=1
Version=2

